#*.[oa]
#*.class
#Makefile
#wograld
#AtrinkEditor.jar
#CrossfireEditor.jar
#DaimoninEditor.jar
#jxclient.jar
*.[oa]
*~
jxclient.jar
AtrinkEditor.jar
CrossfireEditor.jar
DaimoninEditor.jar
*.class
**/wograld
**/wogedit
