#*.[oa]
#*.class
#Makefile
#wograld
#AtrinkEditor.jar
#CrossfireEditor.jar
#DaimoninEditor.jar
#jxclient.jar
*.[oa]
*~
jxclient.jar
AtrinkEditor.jar
CrossfireEditor.jar
DaimoninEditor.jar
*.class
**/wograld
**/wogedit
*.o
*.a
Makefile
*.Po
**/build
server/devel/wograld-config
server/include/autoconf.h
server/include/stamp-h1
server/lib/checkarch.pl
server/lib/collect.pl
server/plugins/cfanim/.deps/
server/plugins/cfanim/.libs/
server/plugins/cfanim/cfanim.la
server/plugins/cfanim/cfanim.lo
server/plugins/cfanim/plugin_common.lo
server/plugins/cfpython/.deps/
server/random_maps/random_map
server/utils/add_throw.perl
server/utils/crossloop
server/utils/crossloop.pl
server/utils/crossloop.pl.tmpl
server/utils/crossloop.tmpl
server/utils/crossloop.web
server/utils/metaserver.pl
server/utils/player_dl.pl
server/utils/scores.pl
javaclient/javaclient/trunk/jxclient.jar
