[Desktop Entry]
Encoding=UTF-8
Name=Wograld Client
Comment=GTK client for Wograld, a multi-player Hack-like game
Exec=gwogclnt -fog -cache
Icon=wograld-client
Terminal=false
Type=Application
