[Desktop Entry]
Type=Application
Version=1.0
Name=Gridarta for Atrinik
GenericName=Gridarta
Comment=Map editor for Atrinik map files.
Exec=/usr/bin/gridarta-atrinik
Categories=Development;Java
